.navbar_content {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 75px;
    background-color: #d7d7d7;

    .logo {
        width: 100px;
        margin-left: 40px;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .menu a {
        margin-left: 10px;
        text-decoration: none;
        color: black;
        margin-right: 45px;
        display: flex;
        align-items: center;

        svg {
            margin-left: 5px;
        }
    }

    svg {
        height: 30px;
        width: 30px;
    }
}